.cart-icon{
 display: flex;
 align-items: center;
 position: relative;
    
 .cart-icon-no{
    font-size: .8rem;
    position: absolute;
    top:2px;
    right:0px;

   //  color: red;
    font-weight: bolder;
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: .3rem;
 }
}