.cart-dropdown{
    position: absolute;
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border:1px solid grey;
    background-color: white;
    top:6rem;
    right: 5rem;
    z-index: 5;
    max-height: 25rem;
}

.cart-items{
    height:max-content;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;


    p {
        text-align: center;
    }
    
}

button{
    margin-top: auto;
}