.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    align-items: center;

    .logo-container{
        font-size: 1.5rem;
        margin: 1rem 1rem 1rem 1rem;
        width: max-content;
       
        height: 100%;
    }
    h2{
        margin-top: 0;
        border: 1px solid grey;
        padding: .5rem 1.5rem;
    }
    &-options{
        width: 70%;
        display: flex;
        height: 100%;
        justify-content: flex-end;

        a{
            padding: 1rem;
        }
    }
    .signOut-btn{
        cursor: pointer;
        display: inline;
        padding: 1rem;
    }

}