.menu-container{
    display: flex;
    flex-wrap: wrap;
}
.menu-item{
    background-color: antiquewhite;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
}
.content {
   padding: 1rem 2rem;
    border: 1px solid grey;
}